@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-primary-700;
  color: #F9F7F7;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #F9F7F7;
}